#subsection{
    color: blue;
    background-color: yellow;
}

.main .list{
    color: red;
}

/* div has more priority has it is gives more accurate input for it */

.main #subsection{
    color: black;
}