#rectangle{
    height: 200px;
    width: 350px;
    background-color: white;
    position: relative;
}

#circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: 50px;
    left: 125px;
}