h1{
    color: cyan;
    background-color: black;
    position: relative;
    top: 20px;
    bottom: 20px;
    right: 100px;
    left: 100px;
}

h3{
    position: fixed;
    top: 0px;
}
h4{
    position: sticky;
    top: 0px;
}